extends ../components/base/layout

block variables
  - const title = "Баня Ольхон - Siberia" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const bath = "olkhon"
  - const currentUrl = "bath-olkhon.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const tags = ["#Мягкий пар", "#Глиняная баня", "#Для любителей массажа"]
  -
    const bathAdvantagesList = [
      {
        name: "Пар",
        description: "Артыш, анис, чабрец, зверобой, можжевельник",
        path: "content/bath-olkhon/speciality",
        img: "par",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Пар"
      },
      {
        name: "Скрабы",
        description: "Сила шамана, байкальский лед",
        path: "content/bath-olkhon/speciality",
        img: "scr",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Скрабы"
      },
      {
        name: "Веники",
        description: "Дуб, береза, можжевельник",
        path: "content/bath-olkhon/speciality",
        img: "ven",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Веники"
      },
      {
        name: "Звуки",
        description: "Бубен, варган",
        path: "content/bath-olkhon/speciality",
        img: "sound",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Звуки"
      },
    ]
  -
    const sliderData = [
      {
        video: true,
        srcDesktop: "video/baths/olkhon/olkhon.mp4",
        srcMobile: "video/baths/olkhon/olkhon-m.mp4",
        srcDesktopPrev: "video/baths/olkhon/olkhon-prev.mp4",
        srcMobilePrev: "video/baths/olkhon/olkhon-prev-m.mp4",
        buttonText: "Смотрите видео о бане ольхон",
        videoCaption: "Смотрите видео о бане «Ольхон»",
        videoTime: "0:58",
        id: "cAfJ1ijwEaQ"
      },
      {
        path: "olkhon-slider/",
        name: "1",
        alt: "Слайд 1"
      },
      {
        path: "olkhon-slider/",
        name: "2",
        alt: "Слайд 2"
      },
      {
        path: "olkhon-slider/",
        name: "3",
        alt: "Слайд 3"
      },
      {
        path: "olkhon-slider/",
        name: "4",
        alt: "Слайд 4"
      },
      {
        path: "olkhon-slider/",
        name: "5",
        alt: "Слайд 5"
      },
      {
        path: "olkhon-slider/",
        name: "6",
        alt: "Слайд 6"
      },
      {
        path: "olkhon-slider/",
        name: "7",
        alt: "Слайд 7"
      },
      {
        path: "olkhon-slider/",
        name: "8",
        alt: "Слайд 8"
      },
      {
        path: "olkhon-slider/",
        name: "9",
        alt: "Слайд 9"
      },
    ]
  -
    var dataAccordion = [
      {
        stage: "Первый заход",
        name: "Бурхан-пар",
        time: "?? мин",
        text: [
          "Прогрев гостя начинаем с дымного окуривания артышом под звуки варгана и шаманского бубна. Во время прогрева к пару подмешиваются ароматы чабреца, аниса, зверобоя. Затем угощаем прохладным напитком, разработанным шеф-поваром нашего ресторана на основе саган-дайля.",
        ],
        path: "content/bath-olkhon/program",
        imgName: "1",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Второй заход",
        name: "Очищение",
        time: "?? мин",
        text: [
          "Сначала — обряд проливания тела тонкими горячими струйками отвара зверобоя и очищения тела скрабом, который выберет гость. Легкость дыхания обеспечивают пихтовые и березовые веники, приготовленные особым способом.",
          "Во время парения ног работаем можжевеловым веником и горячими компрессами. Предварительный прогрев спины завершаем ледяными шайбами «зверобой с анисом». Со стороны живота прогреваем с особым вниманием на руки и ноги. Контраст холодной водой с Байкала даёт особую энергию этому процессу. Перед выходом на контрастную процедуру особенно ярко прогреваем спину с акцентированием припарками на высоком пару.",
          "Охлаждение в холодной купели завершаем пробивкой можжевеловым веником, после которого догрев в парной будет особенно приятен."
        ],
        path: "content/bath-olkhon/program",
        imgName: "2",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Третий заход",
        name: "Догрев",
        time: "?? мин",
        text: [
          "Процедура «огненного массажа» с использованием живого огня, затем «клепование травяным крошевом» в сочетании с парением через полотенце.",
        ],
        path: "content/bath-olkhon/program",
        imgName: "3",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Четвёртый заход",
        name: "Финальный пар",
        time: "?? мин",
        text: [
          "Аромапарение под звуки этнических инструментов и общий прогрев веерами.",
        ],
        path: "content/bath-olkhon/program",
        imgName: "4",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
    ]

block main
  .page-content
    div(data-animate)
      section.inner-intro.fib.d-200
        .container
          .inner-intro__heading
            h2.subtitle Шаманская атмосфера
            +specifications([{name: "вмещает баня", value: "До 6 человек"},{name: "длится программа", value: "4 часа"},{name: "площадь бани", value: "94 м<sup>2</sup>"}]).inner-intro__specifications.text.text--small-caps-2.text--color-not-opacity
          h1.inner-intro__title.title.title--xl Баня &laquo;Ольхон&raquo;
          .inner-intro__info-block
            p.inner-intro__info
              span.text.text--small-caps вместимость
              span.text.text--small-caps до 6 человек
            p.inner-intro__info
              span.text.text--small-caps длительность программы
              span.text.text--small-caps 4 часа
            p.inner-intro__info
              span.text.text--small-caps площадь
              span.text.text--small-caps 94 м#[sup 2]
          p.inner-intro__description.text.text--body.text--desktop Вы&nbsp;ощутите на&nbsp;себе быструю смену климата в&nbsp;местах обитания кочевых народов: прохладный дождь, яркое солнце, теплый сильный ветер.
          p.inner-intro__description.text.text--body.text--mobile Вы&nbsp;ощутите на&nbsp;себе быструю смену климата в&nbsp;местах обитания кочевых народов: прохладный дождь, яркое солнце, теплый сильный ветер.
          +tags(tags)
        //- .container.container--npr.container--tab-np
        .container
          +bath-slider(sliderData, "Галерея бани «Ольхон»")
          +btn({text: "Забронировать баню"})(data-open-modal="call").inner-intro__btn-reserve
          //- +btn({tag: "a", href: "booking.html?olkhon", text: "Забронировать баню"}).inner-intro__btn-reserve
    div(data-animate)
      section.quote-section.section.section--padding-narrow.fib.d-200
        .container
          h2.subtitle Прямая речь
          +quote("Сергей Нестеров", "Идеолог Siberia", true, "content", "sergey-nesterov")
            p.title.title--s Глиняная парная без острых углов создаёт
              span.accent  особую атмосферу и&nbsp;энергетику.
              |  Вам не&nbsp;обязательно ехать на&nbsp;Ольхон, чтобы погрузиться в&nbsp;
              span.accent  шаманскую атмосферу,
              |  услышать озеро Байкал и&nbsp;пройти ритуал парения от&nbsp;шамана острова — это можно сделать у&nbsp;нас.
    div(data-animate)
      section.section.speciality-section.speciality-section.speciality-section.speciality-section.speciality-section.speciality-section.fib.d-200
        .container
          .section__top
            h2.subtitle особенности
            .section__heading
              p.title.title--s В&nbsp;бане &laquo;Ольхон&raquo;&nbsp;&mdash; уникальная атмосфера
              p.text.text--body Мы&nbsp;создаем ее&nbsp;с&nbsp;помощью авторских приемов и&nbsp;методов парения.
        .container.container--tab-np
          +bath-advantages(bathAdvantagesList)
    div(data-animate)
      section.section.section--bg-white.section--padding-middle.fib.d-200
        .container
          .section__top
            h2.subtitle программа парения
            .section__heading
              p.title.title--s Каждое парение &mdash; это
                span.accent  отдельный ритуал
              p.text.text--body.text--desktop Мастер по&nbsp;пару рассказывает вам о&nbsp;традициях, особенностях каждого ритуала и&nbsp;помогает комфортно пройти этот путь. Программа парения может меняться в&nbsp;зависимости от&nbsp;количества людей.
              p.text.text--body.text--mobile Мастер по&nbsp;пару рассказывает вам о&nbsp;традициях, особенностях каждого ритуала и&nbsp;помогает комфортно пройти этот путь. Программа парения может меняться в&nbsp;зависимости от&nbsp;количества людей.
        .container.container--mob-np
          +accordion(dataAccordion)
        .container
          +price()
          +btn({tag: "a", href: "booking.html?olkhon", text: "забронировать баню"}).program-section__button
          +btn({type: "button", text: "Получить консультацию"})(data-open-modal="call").program-section__button-call
    div(data-animate)
      section.section.section--padding-bottom-low.additional-section.fib.d-200
        .container
          .section__top
            h2.subtitle дополнительно
            .section__heading
              p.title.title--s В&nbsp;бане &laquo;Ольхон&raquo; вы&nbsp;можете приобрести:
          .additional-products
            ul.additional-products__list
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Пихтовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Березовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Дубовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Можжевеловая полка
                p.additional-products__price.text.text--body 20 000 ₽
              li.additional-products__item.additional-products__item--other
                p.additional-products__name.title.title--xxs-2 Байкальская прорубь
                p.additional-products__price.text.text--body 30 000 ₽
              li.additional-products__item.additional-products__item--other
                p.additional-products__name.title.title--xxs-2 Ведро льда
                p.additional-products__price.text.text--body 1 000 ₽
              li.additional-products__item.additional-products__item--steam
                p.additional-products__name.title.title--xxs-2 Авторское парение от&nbsp;идеолога Siberia Сергея Нестерова
                p.additional-products__price.text.text--body 30 000 ₽

            ul.additional-products__list
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Парение вениками в 4 руки
                p.additional-products__price.text.text--body 3 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Парение вениками в 6 рук
                p.additional-products__price.text.text--body 5 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Массаж 30 мин
                p.additional-products__price.text.text--body 5 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Массаж 45 мин
                p.additional-products__price.text.text--body 8 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Массаж 60 мин
                p.additional-products__price.text.text--body 10 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Мыльный массаж (помывка)
                p.additional-products__price.text.text--body 5 000 ₽

    div(data-animate)
      section.section.section--padding-top-low.section--padding-bottom-low.inner-contacts-section.fib.d-200
        .container
          .section__top
            h2.subtitle контакты
            .section__heading
              p.title.title--s Добавьте
                span.accent   Siberia
                br
                |  в&nbsp;своё расписание
              p.text.text--body Удачное расположение Siberia позволит вам проще найти место в&nbsp;насыщенном графике для комфортного отдыха.
          +inner-contacts("Забронировать баню «Ольхон»", "booking.html?olkhon")


block modals
  +modal("modal--no-scale modal--preload modal--map", false)(data-modal="map")
    +modal-map()
  +modal("modal--no-scale modal--call")(data-modal="call")
    +modal-call()
