extends ../components/base/layout

block variables
  - const title = "Курная Изба - Siberia" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const bath = "kurnaya-izba"
  - const currentUrl = "bath-kyrnaia-izba/.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const tags = ["#Аутентичные процедуры", "#Как у бабушки в деревне", "#Оптимальна для двоих"]
  -
    const bathAdvantagesList = [
      {
        name: "Пар",
        description: "Береза, смородина, душица, полынь горькая",
        path: "content/bath-kyrnaia-izba//speciality",
        img: "par",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Пар"
      },
      {
        name: "Скрабы",
        description: "Настой душицы, береза",
        path: "content/bath-kyrnaia-izba//speciality",
        img: "scr",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Скрабы"
      },
      {
        name: "Веники",
        description: "Дуб, береза, липа",
        path: "content/bath-kyrnaia-izba//speciality",
        img: "ven",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Веники"
      },
      {
        name: "Звуки",
        description: "Цимбалы, ботало",
        path: "content/bath-kyrnaia-izba//speciality",
        img: "sound",
        imgWidth: "464",
        imgHeight: "516",
        alt: "Звуки"
      },
    ]
  -
    const sliderData = [
      {
        video: true,
        srcDesktop: "video/baths/kyrnaia-izba/kyrnaia-izba.mp4",
        srcMobile: "video/baths/kyrnaia-izba/kyrnaia-izba-m.mp4",
        srcDesktopPrev: "video/baths/kyrnaia-izba/kyrnaia-izba-prev.mp4",
        srcMobilePrev: "video/baths/kyrnaia-izba/kyrnaia-izba-prev-m.mp4",
        buttonText: "Смотрите видео о бане курная",
        videoCaption: "Смотрите видео о бане «Курная Изба»",
        videoTime: "0:59",
        id: "oGot8RKarrU"
      },
      {
        path: "kyrnaia-izba/",
        name: "1",
        alt: "Слайд 1",
      },
      {
        path: "kyrnaia-izba/",
        name: "2",
        alt: "Слайд 2"
      },
      {
        path: "kyrnaia-izba/",
        name: "3",
        alt: "Слайд 3"
      },
      {
        path: "kyrnaia-izba/",
        name: "4",
        alt: "Слайд 4"
      },
      {
        path: "kyrnaia-izba/",
        name: "5",
        alt: "Слайд 5"
      },
      {
        path: "kyrnaia-izba/",
        name: "6",
        alt: "Слайд 6"
      },
      {
        path: "kyrnaia-izba/",
        name: "7",
        alt: "Слайд 7"
      },
      {
        path: "kyrnaia-izba/",
        name: "8",
        alt: "Слайд 8"
      },
      {
        path: "kyrnaia-izba/",
        name: "9",
        alt: "Слайд 9"
      },
      {
        path: "kyrnaia-izba/",
        name: "10",
        alt: "Слайд 10"
      },
      {
        path: "kyrnaia-izba/",
        name: "11",
        alt: "Слайд 11"
      },
    ]
  -
    var dataAccordion = [
      {
        stage: "Первый заход",
        name: "Духмяный пар",
        time: "?? мин",
        text: [
          "Полки перед заходом гостя проливаем березовым настоем и квасом. Особое внимание во время первого пара уделяется ногам. Мы распариваем их в горячем луговом сене, и парная постепенно наполняется ароматами деревенских трав.",
        ],
        path: "content/bath-kyrnaia-izba//program",
        imgName: "1",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Второй заход",
        name: "Очищение",
        time: "?? мин",
        text: [
          "На тело гостей наносится мед вместе с просеянной березовой золой, затем помывка лыковым мочалом с душистым мылом. Затем проливание ковшом по каждой части тела.",
        ],
        path: "content/bath-kyrnaia-izba//program",
        imgName: "2",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Третий заход",
        name: "Парение",
        time: "?? мин",
        text: [
          "Голова гостя укрывается специально подготовленным пихтовым веником.",
          "Во время парения применяется два вида контрастов: ароматным домашним квасом и мятно-смородиновым льдом. После каждого контраста следует работа березовым веником."
        ],
        path: "content/bath-kyrnaia-izba//program",
        imgName: "3",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Четвертый заход",
        name: "Догрев",
        time: "?? мин",
        text: [
          "После контраста в ледяной купели следует еще один заход в парную. Затем — отдых на сеновале.",
        ],
        path: "content/bath-kyrnaia-izba//program",
        imgName: "4",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
      {
        stage: "Пятый заход",
        name: "Финальный пар",
        time: "?? мин",
        text: [
          "Общий заход на парение с ароматами душицы и березы.",
        ],
        path: "content/bath-kyrnaia-izba//program",
        imgName: "5",
        imgWidth: "550",
        imgHeight: "338",
        alt: "Парение"
      },
    ]

block main
  .page-content
    div(data-animate)
      section.inner-intro.fib.d-200
        .container
          .inner-intro__heading
            h2.subtitle деревенская атмосфера
            +specifications([{name: "вмещает баня", value: "До 3 человек"},{name: "длится программа", value: "4 часа"},{name: "площадь бани", value: "87 м<sup>2</sup>"}]).inner-intro__specifications.text.text--small-caps-2.text--color-not-opacity
          h1.inner-intro__title.title.title--xl Баня &laquo;Курная изба&raquo;
          .inner-intro__info-block
            p.inner-intro__info
              span.text.text--small-caps вместимость
              span.text.text--small-caps до 3 человек
            p.inner-intro__info
              span.text.text--small-caps длительность программы
              span.text.text--small-caps 4 часа
            p.inner-intro__info
              span.text.text--small-caps площадь
              span.text.text--small-caps 87 м#[sup 2]
          p.inner-intro__description.text.text--body.text--desktop Вы&nbsp;ощутите на&nbsp;себе быструю смену климата в&nbsp;местах обитания кочевых народов: прохладный дождь, яркое солнце, теплый сильный ветер.
          p.inner-intro__description.text.text--body.text--mobile Вы&nbsp;ощутите на&nbsp;себе быструю смену климата в&nbsp;местах обитания кочевых народов: прохладный дождь, яркое солнце, теплый сильный ветер.
          +tags(tags)
        //- .container.container--np.container--tab-np
        .container
          +bath-slider(sliderData, "Галерея бани «Курная Изба»")
          +btn({text: "Забронировать баню"})(data-open-modal="call").inner-intro__btn-reserve
          //- +btn({tag: "a", href: "booking.html?kurnaya-izba", text: "Забронировать баню"}).inner-intro__btn-reserve
    div(data-animate)
      section.quote-section.section.section--padding-narrow.fib.d-200
        .container
          h2.subtitle Прямая речь
          +quote("Сергей Нестеров", "Идеолог Siberia", true, "content", "sergey-nesterov")
            p.title.title--s Цель этой бани&nbsp;&mdash; отправить гостя в&nbsp;
              span.accent  деревенское детство
              |  при помощи звуков и&nbsp;ароматов, деталей интерьера, которые свойственны этому самому
              span.accent  счастливому моменту жизни.
              |  В&nbsp;бане пахнет травяным отваром, стены впитали аромат копоти,
              span.accent  а&nbsp;за&nbsp;стеной слышны звуки деревенской жизни.
    div(data-animate)
      section.section.fib.d-200
        .container
          .section__top
            h2.subtitle особенности
            .section__heading
              p.title.title--s В&nbsp;бане &laquo;Курная изба&raquo;&nbsp;&mdash; уникальная атмосфера
              p.text.text--body.text--desktop Мы&nbsp;создаем ее&nbsp;с&nbsp;помощью авторских приемов и&nbsp;методов парения. Программа парения может меняться в&nbsp;зависимости от&nbsp;количества людей.
              p.text.text--body.text--mobile Мы&nbsp;создаем ее&nbsp;с&nbsp;помощью авторских приемов и&nbsp;методов парения. Программа парения может меняться в&nbsp;зависимости от&nbsp;количества людей.
        .container.container--tab-np
          +bath-advantages(bathAdvantagesList)
    div(data-animate)
      section.section.section--bg-white.section--padding-middle.fib.d-200
        .container
          .section__top
            h2.subtitle программа парения
            .section__heading
              p.title.title--s Каждое парение &mdash; это
                span.accent  отдельный ритуал
              p.text.text--body Мастер по&nbsp;пару рассказывает вам о&nbsp;традициях, особенностях каждого ритуала и&nbsp;помогает комфортно пройти этот путь.
        .container.container--mob-np
          +accordion(dataAccordion)
        .container
          +price()
          +btn({tag: "a", href: "booking.html?kurnaya-izba", text: "забронировать баню"}).program-section__button
          +btn({type: "button", text: "Получить консультацию"})(data-open-modal="call").program-section__button-call
    div(data-animate)
      section.section.section--padding-bottom-low.additional-section.fib.d-200
        .container
          .section__top
            h2.subtitle дополнительно
            .section__heading
              p.title.title--s В&nbsp;бане &laquo;Курная изба&raquo; вы&nbsp;можете приобрести:
          .additional-products
            ul.additional-products__list
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Пихтовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Березовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Дубовая полка
                p.additional-products__price.text.text--body 15 000 ₽
              li.additional-products__item.additional-products__item--shelf
                p.additional-products__name.title.title--xxs-2 Можжевеловая полка
                p.additional-products__price.text.text--body 20 000 ₽
              li.additional-products__item.additional-products__item--other
                p.additional-products__name.title.title--xxs-2 Байкальская прорубь
                p.additional-products__price.text.text--body 30 000 ₽

            ul.additional-products__list
              li.additional-products__item.additional-products__item--other
                p.additional-products__name.title.title--xxs-2 Ведро льда
                p.additional-products__price.text.text--body 1 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Парение вениками в 4 руки
                p.additional-products__price.text.text--body 3 000 ₽
              li.additional-products__item.additional-products__item--massage
                p.additional-products__name.title.title--xxs-2 Мыльный массаж (помывка)
                p.additional-products__price.text.text--body 5 000 ₽
              li.additional-products__item.additional-products__item--steam
                p.additional-products__name.title.title--xxs-2 Авторское парение от&nbsp;идеолога Siberia Сергея Нестерова
                p.additional-products__price.text.text--body 30 000 ₽

    div(data-animate)
      section.section.section--padding-top-low.section--padding-bottom-low.inner-contacts-section.fib.d-200
        .container
          .section__top
            h2.subtitle контакты
            .section__heading
              p.title.title--s Добавьте
                span.accent   Siberia
                br
                |  в&nbsp;своё расписание
              p.text.text--body Удачное расположение Siberia позволит вам проще найти место в&nbsp;насыщенном графике для комфортного отдыха.
          +inner-contacts("Забронировать баню «Курная Изба»", "booking.html?kurnaya-izba")


block modals
  +modal("modal--no-scale modal--preload modal--map", false)(data-modal="map")
    +modal-map()
  +modal("modal--no-scale modal--call")(data-modal="call")
    +modal-call()
