extends ../components/base/layout

block variables
  - const title = "Бронирование - Siberia" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-content
      .booking-page.is-final(data-animate)
        .container
          .booking-page__form(data-validate)
            form(action="#", method="POST")
              section.booking(data-accordion="parent", data-destroy="(max-width: 767px)")
                h1.subtitle.booking__title Бронирование
                .booking__wrapper.fib
                  .booking__element(data-accordion="element")
                    .booking__button(data-accordion="button")
                      .booking__info
                        h2.title.title--xxs-1 Количество гостей
                        p.text.text--small.booking__selected
                      .booking__icon
                        +icon("icon-dropdown", 20, 20)
                    +select-guests()(data-accordion="content")
                  .booking__element(data-accordion="element")
                    .booking__button(data-accordion="button")
                      .booking__info
                        h2.title.title--xxs-1 Баня
                        p.text.text--small.booking__selected
                      .booking__icon
                        +icon("icon-dropdown", 20, 20)
                    +select-bath(bathOptions)(data-accordion="content")
                .booking__element(data-accordion="element")
                  .booking__button(data-accordion="button")
                    .booking__info
                      h2.title.title--xxs-1 Дата и время
                      p.text.text--small.booking__selected
                    .booking__icon
                      +icon("icon-dropdown", 20, 20)
                  +select-date()(data-accordion="content").fib
                +booking-widget({step1: true, btnText: "Оформить заказ", btnTextMob: "перейти к оформлению заказа"})
              section.checkout
                h2.subtitle Выберите способ оплаты
                .checkout__tabs(data-tabs="parent")
                  .checkout__controls(data-tabs="controls")
                    label.tab-control.text.text--body-l(for="radio-tab1" data-tabs="control") Банковская карта
                      input.visually-hidden(type="radio" id="radio-tab1" name="payment-type" value="Банковская карта")
                      span.tab-control__icon
                        +icon("icon-check", 20, 20)
                    label.tab-control.text.text--body-l(for="radio-tab2" data-tabs="control") Клубная карта
                      input.visually-hidden(type="radio" id="radio-tab2" name="payment-type" value="Клубная карта")
                      span.tab-control__icon
                        +icon("icon-check", 20, 20)
                    label.tab-control.text.text--body-l(for="radio-tab3" data-tabs="control") Подарочный сертификат
                      input.visually-hidden(type="radio" id="radio-tab3" name="payment-type" value="Подарочный сертификат")
                      span.tab-control__icon
                        +icon("icon-check", 20, 20)
                  .checkout__content(data-tabs="content")
                    .checkout__element(data-tabs="element")
                      fieldset.recepient-details
                        legend.subtitle Ваши контактные данные
                        .recepient-details__inputs
                          +custom-input({inputLabel: "Ваше имя", inputId: "name", inputName: "booking-name"})(data-validate-type="text", data-limitations="letters")
                          +custom-input({inputLabel: "Телефон", inputId: "phone", inputName: "booking-phone"})(data-validate-type="phone")
                          +custom-input({inputLabel: "Email", inputId: "email", inputName: "booking-email"})(data-validate-type="email")
                          +custom-textarea({inputLabel: "Комментарий", inputId: "comment", inputName: "booking-comment"})
                      +booking-info({isDiscount: false})

                    .checkout__element(data-tabs="element")
                      .checkout__wrapper
                        fieldset.checkout__fieldset
                          legend.subtitle Введите номер клубной карты
                          +custom-input({inputLabel: "Номер клубной карты", inputId: "club-card", inputName: "club-card", inputError: "Неверный номер клубной карты"})(data-validate-type="matrix", data-matrix="___ ___ ___ ___", data-matrix-limitations="digit")
                          +btn({text: "прислать код подтверждения"})
                        fieldset.checkout__fieldset
                          legend.subtitle Введите код подтверждения
                          +custom-input({inputLabel: "Код подтверждения", inputId: "club-code", inputName: "club-code", inputError: "Неверный код, попробуйте запросить новый"})(data-validate-type="matrix", data-matrix="___", data-matrix-limitations="digit")
                      +booking-info({isClubCard: true})

                    .checkout__element(data-tabs="element")
                      .checkout__wrapper
                        fieldset.checkout__fieldset
                          legend.subtitle Введите номер сертификата
                          +custom-input({inputLabel: "Номер сертификата", inputId: "certificate-card", inputName: "certificate-card", inputError: "Неверный номер сертификата"})(data-validate-type="matrix", data-matrix="___ ___ ___ ___", data-matrix-limitations="digit")
                          +btn({text: "прислать код подтверждения"})
                        fieldset.checkout__fieldset
                          legend.subtitle Введите код подтверждения
                          +custom-input({inputLabel: "Код подтверждения", inputId: "certif-code", inputName: "certif-code", inputError: "Неверный код, попробуйте запросить новый"})(data-validate-type="matrix", data-matrix="___", data-matrix-limitations="digit")
                      fieldset.recepient-details
                        legend.subtitle Ваши контактные данные
                        .recepient-details__inputs
                          +custom-input({inputLabel: "Ваше имя", inputId: "name-1", inputName: "booking-name-1"})(data-validate-type="text", data-limitations="letters")
                          +custom-input({inputLabel: "Телефон", inputId: "phone-1", inputName: "booking-phone-1"})(data-validate-type="phone")
                          +custom-input({inputLabel: "Email", inputId: "email-1", inputName: "booking-email-1"})(data-validate-type="email")
                          +custom-textarea({inputLabel: "Комментарий", inputId: "comment-1", inputName: "booking-comment-1"})
                      +booking-info({isCertificate: true})
                +booking-widget({btnText: "внести предоплату 20 000 ₽", btnTextMob: "внести предоплату 20 000 ₽"})

block modals
  +modal("modal--bath")(data-modal="bath")
    +modal-bath()
  +modal("modal--booking")(data-modal="booking")
    +modal-booking(true)
