extends ../components/base/layout

block variables
  - const title = 'Подарочные сертификаты' //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "certificates.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const certificateOptions = [
      {
        value: "50000",
        id: "certif-1",
        text: "50 000",
      },
      {
        value: "100000",
        id: "certif-2",
        text: "100 000",
      },
      {
        value: "150000",
        id: "certif-3",
        text: "150 000",
      },
      {
        value: "200000",
        id: "certif-4",
        text: "200 000",
      },
      {
        value: "250000",
        id: "certif-5",
        text: "250 000",
      },
      {
        value: "500000",
        id: "certif-6",
        text: "500 000",
      },
    ]



block main
  main
    .page-content
      div(data-animate)
        section.certificates.fib
          .container
            .certificates__heading
              h1.subtitle Подарочные сертификаты
              +opening-hours()
            p.title.certificates__title
              span.accent Подарите посещение
              |  Siberia самым важным людям
            p.certificates__text.text.text--body Новый опыт — лучший подарок, а посещение Siberia запомнится надолго.
            +form({isCertificates: true, action: "/api/buy/certificate", btnText: "Перейти к оплате", btnTextMob: "Оплатить"})(data-animate, data-certificates="parent", data-callback="certificate")
              fieldset.certificates__fieldset.fib
                p.subtitle Выберите сумму сертификата
                .certificates__options(data-validate-type="toggle-group")
                  each item in certificateOptions
                    +certificate-option(item)

              fieldset.certificates__fieldset.fib
                p.subtitle Заполните форму
                .certificates__wrapper
                  +custom-input({inputLabel: "Ваши имя и фамилия", inputId: "name", inputName: "certificates-name", inputError: "Ваши имя и фамилия"})(data-validate-type="text", data-limitations="letters", data-client="name")
                  +custom-input({inputLabel: "Телефон", inputId: "phone", inputName: "certificates-phone", inputError: "Телефон"})(data-validate-type="phone", data-client="phone")
                  +custom-input({inputLabel: "Email", inputId: "email", inputName: "certificates-email", inputError: "Email"})(data-validate-type="email", data-client="email")

                +custom-toggle({inputLabel: "Хочу физический сертификат", inputId: "real"}).custom-toggle--checkbox.fib

                +custom-toggle({inputLabel: "Сертификат в подарок (получатель&nbsp;другой человек)"})(data-certificates="toggle").custom-toggle--checkbox.fib

              fieldset.certificates__fieldset.certificates__fieldset--gift(data-certificates="gift")
                +custom-input({inputLabel: "Имя получателя", inputId: "name-gift", inputName: "certificates-reciever-name", inputError: "Имя получателя"})(data-validate-type="text", data-limitations="letters", data-client="name")
                .certificates__field-wrapper
                  +custom-input({inputLabel: "Телефон получателя", inputId: "phone-gift", inputName: "certificates-reciever-phone", inputError: "Телефон получателя"})(data-validate-type="phone", data-client="phone")
                  p.text.text--small Телефон необходим для привязки к нему номера&nbsp;сертификата
                +custom-textarea({inputLabel: "Сообщение на сертификате (до&nbsp;128&nbsp;символов)", inputId: "message", inputName: "certificates-comment", inputMaxLength: 128})

              fieldset.certificates__fieldset.fib
                p.subtitle Выберите ориентацию сертификата
                .certificates__orientation(data-validate-type="toggle-group")
                  +custom-toggle({inputLabel: "вертикальная", inputType: "radio", inputName: "certif-orientation", inputChecked: true, inputValue: "vertical"})(data-certificate="orientation").custom-toggle--radio
                  +custom-toggle({inputLabel: "горизонтальная", inputType: "radio", inputName: "certif-orientation", inputValue: "horizontal"})(data-certificate="orientation").custom-toggle--radio
                  +btn({text: "посмотреть сертификат"})(data-open-modal="certificate").btn--bordered


block modals
  +modal("modal--no-scale modal--certificate", true, true)(data-modal="certificate")
    +modal-certificate()
  +modal("modal--no-scale modal--call")(data-modal="call")
    +modal-call()
