extends ../components/base/layout

block variables
  - const title = 'Пользовательское соглашение' //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "conditions.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const purposes = [
      {
        text: "Осуществление клиентской поддержки"
      },
      {
        text: "Получения Пользователем информации о маркетинговых событиях"
      },
      {
        text: "Проведения аудита и прочих внутренних исследований с\u00A0целью повышения качества предоставляемых услуг."
      },
    ]

  -
    const data  = [
      {
        text: "Фамилия, Имя, Отчество"
      },
      {
        text: "Дата рождения"
      },
      {
        text: "Контактный телефон"
      },
      {
        text: "Адрес электронной почты"
      },
      {
        text: "Почтовый адрес"
      },
    ]


block main
  main
    .page-content
      section.conditions(data-animate)
        .container.conditions__container.fib
          p.subtitle Пользовательское соглашение
          .conditions__description
            h1.title.title--md.conditions__title Условия передачи информации
            .content
              div.content__info
                p
                  | Предоставляя свои персональные данные Пользователь даёт
                  | согласие на обработку, хранение и использование своих
                  | персональных данных на основании ФЗ&nbsp;№&nbsp;152&ndash;ФЗ&nbsp;«О персональных
                  | данных» от 27.07.2006 г. в следующих целях:
              ul
                each item in purposes
                  li
                    p= item.text
              div.content__info
                p
                  | Под персональными данными подразумевается любая информация
                  | личного характера, позволяющая установить личность
                  | Пользователя/Покупателя такая&nbsp;как:
              ul
                each item in data
                  li
                    p= item.text
              div.content__info
                p
                  | Персональные данные Пользователей хранятся исключительно на
                  | электронных носителях и обрабатываются с использованием
                  | автоматизированных систем, за исключением случаев, когда
                  | неавтоматизированная обработка персональных данных необходима
                  | в связи с исполнением требований законодательства. Компания обязуется
                  | не передавать полученные персональные данные третьим лицам,
                  | за исключением следующих случаев:
              ul
                li
                  p
                    | По запросам уполномоченных органов государственной власти&nbsp;РФ
                    | только по основаниям и в порядке, установленным законодательством РФ
                li
                  p
                    | Стратегическим партнерам, которые работают с Компанией для предоставления
                    | продуктов и услуг, или тем из них, которые помогают Компании реализовывать
                    | продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный
                    | объем персональных данных, необходимый только для оказания требуемой услуги
                    | или проведения необходимой транзакции.
              p
                | Компания оставляет за собой право вносить изменения в одностороннем порядке
                | в настоящие правила, при условии, что изменения не противоречат действующему
                | законодательству РФ. Изменения условий настоящих правил вступают в силу
                | после их публикации на Сайте.
            +btn({text: "Перейти на главную", href: "index.html"})


block modals
  +modal("modal--no-scale modal--call")(data-modal="call")
    +modal-call()
