extends ../components/base/layout

block variables
  - const title = 'Публичная оферта-Договор' //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "oferta.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main
  main
    .page-content
      section.oferta(data-animate)
        .container.oferta__container.fib
          p.subtitle Публичная оферта-договор
          .oferta__description
            h1.title.title--md.oferta__title Публичная оферта-Договор возмездного оказания услуг
            .content.content--wide.content--ul-dash
              div.content__info
                p
                  |  Редакция от «&nbsp;1&nbsp;» октября 2022&nbsp;г.
                p
                  |  Данный документ является официальным предложением (публичной офертой)
                  |  Общества с&nbsp;ограниченной ответственностью «Сибирский Пар», в&nbsp;дальнейшем именуемого Исполнитель,
                  |  и&nbsp;содержит все существенные условия
                  |  предоставления услуг Исполнителем.
              ol
                li ОСНОВНЫЕ ТЕРМИНЫ И ПОНЯТИЯ
                  ol
                    li КЛУБ&nbsp;&mdash; Общество с&nbsp;ограниченной ответственностью «Сибирский пар».
                    li
                      |  ЗАКАЗЧИК&nbsp;&mdash; физическое или юридическое лицо, или индивидуальный предприниматель,
                      |  принявший Правила Клуба (Приложение &#8470;&nbsp;1 к&nbsp;настоящему Договору), оплачивающий авансовые
                      |  платежи в&nbsp;порядке и&nbsp;на&nbsp;условиях настоящего Договора. Заказчик является Резидентом Клуба.
                    li
                      |  ПРАВИЛА КЛУБА&nbsp;&mdash; свод обязательных для исполнения рекомендаций, способствующих эффективному
                      |  и&nbsp;выгодному взаимодействию между участниками Клуба, а&nbsp;также между исполнительным органом Клуба и&nbsp;участниками Клуба.
                    li
                      |  ДЕПОЗИТ&nbsp;&mdash; денежные средства, внесенные Заказчиком на счет Клуба в&nbsp;качестве авансовых платежей, из&nbsp;которых Клуб
                      |  производит расчет, путем их&nbsp;удержания, за&nbsp;фактически оказанные Заказчику услуги.
                li ПРЕДМЕТ ДОГОВОРА
                  ol
                    li
                      |  Клуб обязуется оказать Услуги, предусмотренные п.п.2.2&nbsp;&mdash; 2.4
                      |  Договора (далее&nbsp;&mdash; Услуги), а&nbsp;Заказчик обязуется оплатить эти Услуги.
                    li
                      |  Клуб оказывает услугу по&nbsp;предоставлению доступа к&nbsp;своему закрытому
                      |  чату в&nbsp;мессенджере Telegram. Данная Услуга считается оказанной, в&nbsp;день заключения
                      |  Договора, в&nbsp;момент предоставления Заказчику доступа к&nbsp;закрытому чату Клуба.
                    li
                      |  Клуб оказывает Заказчику комплекс услуг, согласно прейскуранту Клуба, представленного на сайте
                      |  Клуба по адресу: <a class="link" href="www.siberia-spa.ru" target="_blank" rel="nofollow noopener noreferrer">www.siberia-spa.ru/club</a> (далее – сайт Клуба).
                    li
                      |  Заказчик, вправе посещать закрытые банные дни, принимать участие в выездных и иных мероприятиях Клуба,
                      |  проводимые исключительно для Резидентов Клуба. Конкретный перечень мероприятий с&nbsp;указанием даты, времени и&nbsp;
                      |  места проведения публикуется в&nbsp;закрытом чате в&nbsp;Telegram не позднее 15&nbsp;(пятнадцать) дней до&nbsp;даты мероприятия.
                    li
                      |  Клуб вправе привлекать к&nbsp;исполнению договора третьих лиц без согласия Заказчика.
                    li
                      |  Клуб вправе передать любые права и&nbsp;обязанности по&nbsp;Договору третьим лицам без согласия Заказчика.
                li СТОИМОСТЬ И&nbsp;ПОРЯДОК РАСЧЁТОВ
                  ol
                    li
                      |  Оплата Услуг по&nbsp;настоящему Договору производится в&nbsp;рублях путем внесения
                      |  Заказчиком денежных средств авансовыми платежами в&nbsp;следующем порядке:
                      ol
                        li
                          |  Заказчик вносит первый авансовый платеж в размере 250&nbsp;000&nbsp;(двести пятьдесят тысяч)&nbsp;руб.&nbsp;00&nbsp;коп.
                          |  в&nbsp;счет Депозита.
                    li
                      |  Расчет за Услуги, указанные в&nbsp;пп.&nbsp;2.2&nbsp;-&nbsp;2.3 настоящего Договора, Клуб производит из Депозита путем
                      |  удержания денежных средств в&nbsp;размере, равной стоимости фактически оказанных Заказчику Услуг.
                      ol
                        li
                          |  За&nbsp;Услуги, указанные в&nbsp;п.&nbsp;2.2 настоящего Договора, Заказчик один раз в&nbsp;год (ежегодно) оплачивает Клубу
                          |  (путем удержания Клубом с&nbsp;Депозита) сумму в&nbsp;размере 10% от суммы первого авансового платежа (Депозита), указанного в&nbsp;п.&nbsp;3.1.1 настоящего Договора.
                        li
                          |  Расчет стоимости Услуг, указанных в п. 2.3 настоящего Договора, Клуб производит с&nbsp;учетом 10&nbsp;(десяти)% скидки от&nbsp;
                          |  прейскуранта Клуба.
                    li
                      |  В&nbsp;процессе пользования Услугами Клуба остаток Депозита не&nbsp;должен составлять
                      |  менее&nbsp;30&nbsp;000&nbsp;(тридцать тысяч)&nbsp;руб.&nbsp;00&nbsp;коп.
                      ol
                        li
                          |  Заказчик обязуется вносить следующий авансовый платеж, в&nbsp;случае если остаток Депозита будет
                          |  равен или менее&nbsp;30&nbsp;000&nbsp;(тридцать тысяч)&nbsp;руб.&nbsp;00 коп.
                        li
                          |  Размер последующих авансовых платежей должен быть равен сумме, необходимой для пополнения Депозита
                          |  до&nbsp;суммы 250&nbsp;000 (двести пятьдесят тысяч)&nbsp;руб.&nbsp;00&nbsp;коп.
                    li
                      |  Стороны особо оговорили и&nbsp;согласовали, что Депозит не является коммерческим займом, проценты за&nbsp;
                      |  пользование денежными средствами не&nbsp;уплачиваются, а&nbsp;также проценты за пользование чужими денежными
                      |  средствами, предусмотренные ст. 317.1 ГК ГФ, сторонами не начисляются и&nbsp;не&nbsp;выплачиваются.
                li ОТВЕТСТВЕННОСТЬ СТОРОН
                  ol
                    li
                      |  За&nbsp;неисполнение или ненадлежащее исполнение обязательств по&nbsp;настоящему Договору Стороны несут ответственность в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.
                    li
                      |  В&nbsp;случае нарушения Заказчиком сроков и&nbsp;иных условий оплаты Услуг более чем один раз, Клуб имеет право по своему выбору (а) приостановить оказание Услуг (в частности, приостановить доступ Заказчика к закрытому чату Клуба и/или возможность участия Заказчика в мероприятиях Клуба, закрытых банных днях) до момента получения соответствующей оплаты, и (или) (б) отказаться от исполнения Договора в одностороннем порядке с дальнейшим запретом Заказчику пользоваться Услугами Клуба вне зависимости от оплаты соответствующей стоимости Услуг.
                    li
                      |  В&nbsp;случае предоставления Заказчиком подложных документов, идентифицирующих Заказчика, в частности, как лица, имеющего права пользоваться Услугами Клуба, Клуб имеет право отказаться от&nbsp;исполнения Договора в&nbsp;одностороннем порядке с&nbsp;удержанием ранее оплаченных Заказчиком, но&nbsp;неиспользованных денежных средств, с&nbsp;дальнейшим запретом Заказчику пользоваться Услугами Клуба, а&nbsp;равно объявить о&nbsp;подложности представленных документов иным Резидентам Клуба.
                    li
                      |  Заказчик не&nbsp;имеет право предоставлять доступ к&nbsp;закрытому чату Клуба третьим лицам (в&nbsp;частности, Заказчик не&nbsp;имеет права делиться информацией Клуба, в&nbsp;том числе посредством направления третьим лицам скриншотов с&nbsp;информацией из закрытого чата Клуба). В&nbsp;случае нарушения указанного условия Клуб имеет право отказаться от&nbsp;исполнения Договора в&nbsp;одностороннем порядке с&nbsp;дальнейшим запретом Заказчику пользоваться Услугами Клуба, а&nbsp;равно взыскать с&nbsp;Заказчика фиксированный штраф в&nbsp;размере 300&nbsp;000 (Триста тысяч) рублей за&nbsp;каждое подобное нарушение.
                li ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
                  ol
                    li
                      |  Споры по&nbsp;настоящему Договору разрешаются путем переговоров. Претензионный порядок урегулирования споров является обязательным. Сторона, получившая претензию, обязуется направить ответ не&nbsp;позднее&nbsp;10 (десяти) дней с&nbsp;момента ее&nbsp;получения.
                    li
                      |   В&nbsp;случае не&nbsp;урегулирования разногласий в&nbsp;претензионном порядке, а&nbsp;также в&nbsp;случае неполучения ответа на&nbsp;претензию в&nbsp;течение срока, указанного в&nbsp;п.6.1&nbsp;Договора, спор передается на&nbsp;разрешение в&nbsp;соответствующий суд по&nbsp;месту нахождения Клуба.
                li КОНФИДЕНЦИАЛЬНОСТЬ, ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                  ol
                    li
                      |  Стороны обязуются не&nbsp;разглашать третьим лицам конфиденциальную информацию, полученную друг от&nbsp;друга в&nbsp;связи &nbsp;исполнением обязательств по&nbsp;настоящему Договору.
                    li
                      |  Для целей настоящего Договора термин «Конфиденциальная информация» означает любую информацию, имеющую действительную или потенциальную ценность в&nbsp;силу неизвестности ее третьим лицам, не&nbsp;предназначенную для широкого распространения и&nbsp;(или) использования неограниченным кругом лиц, которая может быть передана от&nbsp;Заказчика Клубу, в&nbsp;частности, информацию, касающуюся условий Договора, контрагентов Сторон.
                    li
                      |  Раскрытие информации допускается в&nbsp;случаях, предусмотренных действующим законодательством Российской Федерации.
                    li
                      |  В&nbsp;период действия Договора Заказчик не&nbsp;вправе без&nbsp;согласия Клуба:
                      ol
                        li
                          |  Осуществлять аналогичную Клубу деятельность;
                        li
                          |  Участвовать в&nbsp;интервью, беседах со&nbsp;средствами массовой информации и&nbsp;иными третьими лицами по вопросам деятельности Клуба;
                        li
                          |  Изготавливать продукцию с&nbsp;логотипом (символикой) Клуба;
                        li
                          |  Давать оценки профессиональным и&nbsp;морально-нравственным качествам учредителей и/или&nbsp;генерального директора и/или&nbsp;партнерам и/или&nbsp;сотрудникам Клуба, его представителям, лиц, привлеченных к&nbsp;деятельности Клуба;
                        li
                          |  Высказываться по поводу неудовлетворенности, не полной удовлетворенности совместным сотрудничеством, его&nbsp;результатами;
                        li
                          |  Описывать, комментировать фактические обстоятельства, связанные с&nbsp;деятельностью Клуба если, по мнению Клуба, это могло бы привести к&nbsp;умалению чести, достоинства, деловой репутации его представителей и/или партнеров и/или сотрудников вне зависимости - соответствуют ли описываемые или комментируемые факты действительности или нет;
                        li
                          |  Давать негативную оценку профессиональной деятельности Клуба.
                        li
                          |  Заказчик вправе обратиться к Клубу с&nbsp;просьбой не использовать своих конкретных изображений (фотография, слайд, рисунок, кадр, фрагмент видеозаписи), если использование способно нанести реальный вред чести и&nbsp;достоинству Заказчика. При этом Заказчик должен указать, что конкретно в&nbsp;изображении умаляет его честь и достоинство. Клуб постарается использовать изображение, удалив из&nbsp;него элементы, нарушающие честь и&nbsp;достоинство, если это возможно, либо использовать элементы изображения, которыми честь и&nbsp;достоинство не&nbsp;умаляются.
                    li
                      |  В&nbsp;период действия Договора Клуб при осуществлении деятельности, связанной с&nbsp;предметом Договора, вправе использовать публичный образ Заказчика в рекламных целях.
                    li
                      |  После расторжения Договора Заказчик не&nbsp;вправе использовать символику Клуба.
                    li
                      |  Заказчик дает согласие на обработку своих персональных данных. Клуб вправе осуществлять следующие действия (операции) с&nbsp;персональными данными: сбор и&nbsp;накопление, обезличивание, использование, хранение в&nbsp;течение срока действия Договора и 3&nbsp;(три) года после, но&nbsp;не&nbsp;менее, чем&nbsp;установленные нормативными документами сроки хранения отчетности, уточнение (обновление, изменение), уничтожение.
                li СРОК ДЕЙСТВИЯ ДОГОВОРА
                  ol
                    li
                      |  Настоящий Договор вступает в&nbsp;силу с&nbsp;момента внесения Заказчиком оплаты первого авансового платежа и&nbsp;заканчивается при полном исполнении обязательств Сторонами.
                li ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ ДОГОВОРА
                  ol
                    li
                      |  Заказчик вправе отказаться от&nbsp;Договора в&nbsp;порядке, предусмотренном законодательством РФ.
                    li
                      |  Клуб вправе расторгнуть договор в&nbsp;одностороннем порядке в&nbsp;случае нарушения Заказчиком Правил Клуба.
                li ИНЫЕ ПОЛОЖЕНИЯ
                  ol
                    li
                      |  Клуб оставляет за&nbsp;собой право в&nbsp;одностороннем порядке вносить изменения в&nbsp;условия настоящего Договора, а&nbsp;также в&nbsp;стоимость Услуг, путем размещения их&nbsp;на&nbsp;сайте Клуба. Все&nbsp;такие изменения вступают в&nbsp;силу и&nbsp;считаются доведенными до&nbsp;сведения Заказчика с&nbsp;момента публикации их на&nbsp;сайте Клуба.

                    li
                      |  Для обмена юридически значимыми сообщениями, документами Клуб используют следующий адрес электронной почты: <a class="link" href="mailto:info@siberia-spa.ru" target="_blank" rel="nofollow noopener noreferrer">info@siberia-spa.ru.</a>

                    li
                      |  Приложения:
                      | <br>
                      | 1. Приложение №1&nbsp;– «Правила Клуба».
                li РЕКВИЗИТЫ КЛУБА
                  p
                    |  ООО&nbsp;«СИБИРСКИЙ ПАР»

                  p
                    |  Юридический адрес:
                    |  <br>
                    |  123376, г&nbsp;Москва, ул.&nbsp;Рочдельская, д.&nbsp;15 стр.&nbsp;16, этаж&nbsp;2, пом.&nbsp;1

                  p
                    |  ИНН/КПП 9703025559/770301001

                  p
                    |  Банковские реквизиты:
                    |  <br>
                    |  АО&nbsp;&laquo;АЛЬФА-БАНК&raquo;, р/c 40702810501100024176, БИК 044525593, к/с 30101810200000000593

              div.content__header
                p
                  |  Приложение №1
                  |  <br>
                  |  к Публичной оферте-Договору возмездного оказания услуг
                  |  (редакция&nbsp;от&nbsp;«&nbsp;1&nbsp;»&nbsp;октября&nbsp;2022&nbsp;г.)
              h2 ПРАВИЛА КЛУБА
              div.content__subtitle
                p
                  |  Редакция от&nbsp;«&nbsp;1&nbsp;»&nbsp;октября&nbsp;2022&nbsp;г.
              ol
                li ОБЩИЕ ПОЛОЖЕНИЯ
                  ol
                    li
                      |  «Siberia»&nbsp;CLUB&nbsp;- это премиальный банный комплекс, расположенный по&nbsp;адресу: г.&nbsp;Москва, ул.&nbsp;Образцова, д.31, стр.&nbsp;3, созданный для людей, в&nbsp;частности для&nbsp;Резидентов Клуба, которые выбирают комфорт, качественный сервис, приватность, возможность обрести полезные связи;
                    li
                      |  Банный комплекс &laquo;Siberia&raquo; CLUB (далее &laquo;Клуб&raquo;) был создан:
                      ul
                        li
                          |  Для тех, кто ценит банное искусство.
                        li
                          |  Для тех, кто хочет прочувствовать атмосферу Сибири, не&nbsp;выезжая из&nbsp;Москвы.
                        li
                          |  Для новичков в&nbsp;банном деле, которые хотят получить новые ощущения.
                        li
                          |  Для ценителей премиального комфорта.
                        li
                          |  Для тех, кто хочет обрести новые полезные знакомства.
                    li
                      |  Клуб имеет свой Логотип и&nbsp;символику.
                    li
                      |  В&nbsp;Клуб вступают на&nbsp;добровольной основе.
                    li
                      |  Местонахождение постоянно действующего руководящего органа Клуба&nbsp;– 127018, г.&nbsp;Москва, ул.&nbsp;Образцова, д.&nbsp;31, стр.&nbsp;3, этаж&nbsp;1, пом.&nbsp;I, ком.&nbsp;10.
                li ЦЕЛИ ДЕЯТЕЛЬНОСТИ КЛУБА
                  ol
                    li
                      | Целями деятельности Клуба являются:
                      ul
                        li
                          |  предоставление премиальных физкультурно-оздоровительных услуг, а&nbsp;именно банных услуг;
                        li
                          |  организация комфортного пребывания Резидентов в&nbsp;банном комплексе «Siberia» CLUB;
                        li
                          |  предоставление уникальных предложений Резидентам клуба;
                        li
                          |  установление неформальных связей между Резидентами из&nbsp;разных сфер деятельности;
                        li
                          |  помощь Резидентам клуба;
                        li
                          |  укрепление и&nbsp;развитие дружественных и&nbsp;деловых отношений между Резидентами клуба;
                        li
                          |  развитие банной культуры.
                li ПРАВА И ОБЯЗАННОСТИ КЛУБА
                  ol
                    li
                      |  Для осуществления своих уставных целей Клуб в&nbsp;соответствии с&nbsp;действующим законодательством РФ имеет право:
                      ul
                        li свободно распространять информацию о&nbsp;своей деятельности;
                        li принимать новых Резидентов;
                        li отказывать новым участникам в&nbsp;принятии в&nbsp;Клуб;
                    li
                      |  Клуб оставляет за собой право в&nbsp;одностороннем порядке вносить изменения в&nbsp;настоящие Правила Клуба, путем размещения их на&nbsp;сайте Клуба по&nbsp;адресу: <a class="link" href="www.siberia-spa.ru/club" target="_blank" rel="nofollow noopener noreferrer">www.siberia-spa.ru/club.</a> Все такие изменения вступают в силу и считаются доведенными до сведения Заказчика с момента публикации их на сайте Клуба.
                    li
                      |  Клуб обязуется:
                      ul
                        li соблюдать законодательство Российской Федерации;
                        li информировать резидентов о&nbsp;всех мероприятиях;
                        li соблюдать политику конфиденциальности и&nbsp;правила обработки персональных данных Резидентов Клуба.
                li ПРАВА И&nbsp;ОБЯЗАННОСТИ РЕЗИДЕНТА КЛУБА SIBERIA
                  ol
                    li Резидентами Клуба являются лица, принятые в&nbsp;Клуб в&nbsp;установленном настоящими Правилами порядке, уплачивающие авансовые платежи;
                    li Резидент Клуба имеет право:
                      ul
                        li пользоваться всеми привилегиями Клуба;
                        li участвовать в&nbsp;развитии Клуба;
                        li посещать все мероприятия, проводимые Клубом;
                        li свободно общаться в&nbsp;закрытом чате;
                        li получать информацию о&nbsp;деятельности Клуба;
                        li добровольно выйти из&nbsp;Клуба.
                    li Резидент Клуба обязан:
                      ul
                        li соблюдать условия настоящих Правил;
                        li всемерно способствовать укреплению авторитета Клуба, его развитию;
                        li своевременно вносить авансовые платежи;
                        li посещать мероприятия Клуба;
                        li соблюдать правила проводимых Клубом мероприятий;
                        li не&nbsp;допускать действий, которые могут причинить ущерб Клубу.
                li ОСОБЫЕ УСЛОВИЯ
                  ol
                    li Резидентам ЗАПРЕЩЕНО:
                      ul
                        li совершение действий на мероприятиях Клуба, связанных с&nbsp;незаконным оборотом наркотических средств (хранение, сбыт, употребление и склонение к&nbsp;употреблению);
                        li призывы к каким-либо действиям против Резидентов Клуба и/или негативные высказывания в&nbsp;адрес Клуба, его&nbsp;руководства и&nbsp;Резидентов;
                        li публично конфликтовать с&nbsp;другими Резидентами Клуба;
                        li ведение деятельности нарушающей нормы действующего законодательства Российской Федерации, а&nbsp;также нарушающие авторские права третьих лиц;
                        li рекламировать сторонние клубы с&nbsp;аналогичным Клубу видом деятельности;
                        li оскорбления других Резидентов Клуба;
                        li распространение ссылок на «пирамиды» заработка, сетевые бизнесы, ставки и&nbsp;т.д.;
                li ОТВЕТСТВЕННОСТЬ РЕЗИДЕНТОВ
                  p Клуб вправе по своему выбору применить к Резиденту меры ответственности (а) исключение из Клуба и/или&nbsp;(б) ограничение доступа к&nbsp;мероприятиям, проводимым Клубом, в&nbsp;случае следующих нарушений:
                  ul
                    li Резидент нарушает положения настоящих Правил Клуба;
                    li на&nbsp;имя Резидента поступают 3 (три) и&nbsp;более жалоб от&nbsp;других Резидентов.
                li РЕКВИЗИТЫ КЛУБА
                  p
                    |  ООО&nbsp;"СИБИРСКИЙ ПАР"
                  p
                    |  Юридический адрес:
                    | <br>
                    | 123376, г&nbsp;Москва, ул.&nbsp;Рочдельская, д.&nbsp;15 стр.&nbsp;16, этаж&nbsp;2, пом.&nbsp;1
                  p
                    |  ИНН/КПП&nbsp;9703025559/770301001
                  p
                    |  Банковские реквизиты:
                    |  <br>
                    |  АО&nbsp;«АЛЬФА-БАНК», р/c&nbsp;40702810501100024176, БИК&nbsp;044525593,
                    |  <br>
                    |  к/с&nbsp;30101810200000000593

            +btn({text: "Перейти на главную", href: "index.html"}).oferta__btn


block modals
  +modal("modal--no-scale modal--call")(data-modal="call")
    +modal-call()
