mixin bath-siberia()
  section.bath-siberia(data-animate)
    .container
      .bath-siberia__heading.fit
        h2.subtitle Баня Siberia
        +opening-hours().bath-siberia__opening-hours
      .bath-siberia__content.fib
        h1.title.bath-siberia__title Наша цель — возродить аутентичную банную культуру
        p.text.text--body.bath-siberia__text Мы адаптируем ее к ожиданиям самых взыскательных гостей и&nbsp;делаем важным элементом стиля жизни.
      .bath-siberia__video-block.fib
        .video-inner(data-player="container")
          +btn-play-with-text("смотрите видео о Siberia")(data-player="button")
          .video-inner__block
            video(data-video-src="video/intro-video.mp4" src="/" preload="auto" data-player="desktop" data-src="desktop" controls)
            //- video(data-video-src="video/intro-video-mobile.mp4" src="/" preload="auto" data-player="mobile" data-src="mobile" controls)
          .video-inner__cover(data-player="prev")
            video(data-video-src="video/intro-video-prev.mp4" src="/" preload="auto" muted autoplay loop playsinline data-src="desktop")
            video(data-video-src="video/intro-video-prev-mobile.mp4" src="/" preload="auto" muted autoplay loop playsinline data-src="mobile")
          p.bath-slider__video-caption.text.text--small-caps.text--white видео о siberia
          p.bath-slider__video-time.text.text--small-caps.text--white 2:20
