mixin club()
  section.club&attributes(attributes)
    .club__img
      +picture("content", "club-bg", "content", "club-bg-mob", "jpg", 1295, 863, "Премиальный банный клуб Siberia")
    .container
      h2.subtitle.subtitle--white Банный клуб
      p.title.title--md.title--white Премиальный
        span.accent  банный клуб Siberia
      p.text.text--body.text--white Сообщество успешных людей, которые&nbsp;ценят&nbsp;банную&nbsp;культуру.
      +btn({text: "подробнее о банном клубе", href: "siberia-club.html"})
      ol.ordered-list
        li.ordered-list__item
          p.title.title--xxs-2.title--white.ordered-list__desktop Участие в&nbsp;закрытых клубных днях
          p.title.title--xxs-2.title--white.ordered-list__mobile Закрытые клубные
            br
            | дни и события
        li.ordered-list__item
          p.title.title--xxs-2.title--white Именной
            br
            | банный набор
        li.ordered-list__item
          p.title.title--xxs-2.title--white.ordered-list__desktop Приглашение на&nbsp;выездные мероприятия
          p.title.title--xxs-2.title--white.ordered-list__mobile Выездные
            br
            | мероприятия
        li.ordered-list__item
          p.title.title--xxs-2.title--white Скидка 10%
            br
            | на&nbsp;все услуги
        li.ordered-list__item
          p.title.title--xxs-2.title--white.ordered-list__desktop Доступ в&nbsp;закрытый чат для&nbsp;знакомства
          p.title.title--xxs-2.title--white.ordered-list__mobile Закрытый чат
            br
            | для знакомства
        li.ordered-list__item
          p.title.title--xxs-2.title--white Личный консьерж-
            br
            | менеджер
