mixin greencow()
  section.greencow
    h3.visually-hidden Greencow
    .greencow__footnate
      a.greencow__footnate-link(href='https://greencow.ru')
        +icon("icon-tripadvisor", 25, 24)
        | Tripadvisor
