mixin price()
  .price&attributes(attributes)
    p.price__title.text.text--small-caps стоимость
    .price__right
      p.price__count.title.title--xs-2 30&nbsp;000&nbsp;—&nbsp;26&nbsp;667&nbsp;₽ / Человек
      p.price__additionally.text.text--small Детям с&nbsp;7&nbsp;до&nbsp;12&nbsp;лет скидка&nbsp;50%,
        br
        |  до&nbsp;7&nbsp;лет&nbsp;&mdash; бесплатно
