mixin rotate-screen()
  .rotate-screen
    .rotate-screen__img
      img(src="img/svg/rotate.svg", width='98', height='105', alt="Поверните устройство")
    .rotate-screen__inner
      p.rotate-screen__title Поверните устройство
      p.rotate-screen__text Поверните устройство в портретный режим для продолжения использования сайта.
