.cuisine {
  padding: size(140px) 0 size(78px) 0;

  @include vp-1023 {
    padding: 40px 0;
  }

  @include vp-767 {
    // padding: 0 0 size(167px) 0;
    padding: 0 0 size(80px) 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include vp-1279 {
      flex-direction: column;
    }

    @include vp-767 {
      display: block;
    }
  }

  &__content {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: size(360px);
    padding: size(15px) 0 size(18px) 0;
    margin: 0 size(40px) 0 0;

    @include vp-1279 {
      margin: 0 0 32px 0;
      max-width: 100%;
    }

    @include vp-767 {
      margin: 0;
    }

    .text--body {
      // margin: 0 0 size(48px) 0;
      margin: 0 0 auto 0;

      @include vp-767 {
        margin: 0 0 size(31px) 0;
      }
    }
  }

  .subtitle {
    margin: 0 0 size(32px) 0;

    @include vp-767 {
      margin: 0 0 size(24px) 0;
    }
  }

  .title--s {
    margin: 0 0 size(24px) 0;

    @include vp-767 {
      max-width: size(260px);
      margin: 0 0 size(16px) 0;
    }
  }

  .btn {
    margin: 0 0 auto 0;

    @include vp-1279 {
      width: 230px;
      margin: 0 0 24px 0;
    }

    @include vp-767 {
      margin: 0;
      position: absolute;
      bottom: size(-291px);
      width: calc(100% - #{size(8px)});
    }
  }

  &__download.text {
    margin: 0 0 size(24px) 0;
    max-width: size(300px);
    color: rgba($color-default-black, 0.7);

    @include vp-767 {
      display: none;
    }
  }

  .download-btn {
    @include vp-767 {
      display: none;
    }
  }

  &__slider-wrapper {
    flex-grow: 0;

    @include vp-1279 {
      width: 100%;
    }

    @include vp-767 {
      width: calc(100% + #{size(48px)});
      margin: size(-8px) size(-24px) 0 size(-24px);
    }

    &.back {
      .swiper-slide-active .cuisine__slide-img {
        animation: slide-back $trans-eio-700;

        @include vp-767 {
          animation: none;
        }
      }

      .swiper-slide-next,
      .swiper-slide-duplicate-next {
        z-index: 3;
      }

      .swiper-slide-prev,
      .swiper-slide-duplicate-prev {
        z-index: -1;
      }
    }

    &.next {
      .swiper-slide-active .cuisine__slide-img {
        animation: slide-next $trans-eio-700;

        @include vp-767 {
          animation: none;
        }
      }

      .swiper-slide-next {
        z-index: -1;
      }

      .swiper-slide-prev {
        z-index: 3;
      }
    }
  }

  &__slide-img {
    width: 100%;
    height: 33.3vw;
    margin: 0 0 size(34px) 0;
    border-radius: size(16px);
    overflow: hidden;
    z-index: 0;
    transform: translateZ(0);

    @include vp-1279 {
      height: 35vw;
    }

    @include vp-767 {
      margin: 0;
      height: size(212px);
      border-radius: size(16px);
      background-color: $color-default-black;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include vp-767 {
        opacity: 0.6;
      }
    }
  }

  &__slide {
    position: relative;
    left: 0;
    z-index: 0;

    @include vp-767 {
      width: calc(100% - #{size(56px)});
    }

    &.swiper-slide-active {
      z-index: 4;

      @include vp-767 {
        z-index: unset;
      }
    }

    &.swiper-slide-active,
    &.swiper-slide-duplicate-active {
      .title {
        opacity: 1;
        transform: translateY(0);

        transition-delay: 0.4s;

        @include vp-767 {
          transform: translateZ(0);
          transition-delay: 0s;
        }
      }
    }

    .title {
      opacity: 0;
      transform: translateY(20px);
      max-width: size(200px);
      transition: opacity $trans-eio-500, transform $trans-eio-500;

      @include vp-767 {
        max-width: size(240px);
        position: absolute;
        bottom: size(24px);
        left: size(24px);
        opacity: 1;
        transform: translateZ(0);
        transition: unset;
        color: $color-default-white;
      }
    }
  }

  .slider-nav {
    position: absolute;
    bottom: size(16px);
    right: 0;
    z-index: 1;
  }
}
