mixin btn-read-more()
  button.btn-read-more&attributes(attributes)(data-read-more="button")
    span.btn-read-more__icon
    span.btn-read-more__close-text.text.text--small-caps.text--color-not-opacity читать полностью
    span.btn-read-more__open-text.text.text--small-caps.text--color-not-opacity свернуть
