// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: "Merriweather";

  font-display: swap;
  src:
    url("../fonts/merriweather-lightItalic.woff2") format("woff2"),
    url("../fonts/merriweather-lightItalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Euclid Flex";

  font-display: swap;
  src:
    url("../fonts/euclidflex-regular.woff2") format("woff2"),
    url("../fonts/euclidflex-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Euclid Flex";

  font-display: swap;
  src:
    url("../fonts/euclidflex-light.woff2") format("woff2"),
    url("../fonts/euclidflex-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: "Euclid Flex";

  font-display: swap;
  src:
    url("../fonts/euclidflex-thin.woff2") format("woff2"),
    url("../fonts/euclidflex-thin.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Euclid Square";

  font-display: swap;
  src:
    url("../fonts/euclidsquare-light.woff2") format("woff2"),
    url("../fonts/euclidsquare-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Euclid Square";

  font-display: swap;
  src:
    url("../fonts/euclidsquare-regular.woff2") format("woff2"),
    url("../fonts/euclidsquare-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Euclid Square";

  font-display: swap;
  src:
    url("../fonts/euclidsquare-medium.woff2") format("woff2"),
    url("../fonts/euclidsquare-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src:
    url("../fonts/inter-regular.woff2") format("woff2"),
    url("../fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Highliner";

  font-display: swap;
  src:
    url("../fonts/highliner.woff2") format("woff2"),
    url("../fonts/highliner.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Highliner";

  font-display: swap;
  src:
    url("../fonts/highliner.woff2") format("woff2"),
    url("../fonts/highliner.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Highliner";

  font-display: swap;
  src:
    url("../fonts/highliner-light.woff2") format("woff2"),
    url("../fonts/highliner-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src:
    url("../fonts/.woff2") format("woff2"),
    url("../fonts/.woff") format("woff");
}
