//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-video
include ./modals/modal-map
include ./modals/modal-bath
include ./modals/modal-booking
include ./modals/modal-certificate
include ./modals/modal-call

//- Blocks

include ./blocks/intro
include ./blocks/socials
include ./blocks/advantages
include ./blocks/baths
include ./blocks/cuisine
include ./blocks/club
include ./blocks/bath-siberia
include ./blocks/contacts
include ./blocks/about-service
include ./blocks/history-logo
include ./blocks/values
include ./blocks/quote
include ./blocks/cookies
include ./blocks/bath-advantages
include ./blocks/accordion
include ./blocks/price
include ./blocks/address
include ./blocks/inner-contacts
include ./blocks/bath-slider
include ./blocks/simple-slider
include ./blocks/rotate-screen
include ./blocks/hospitality
include ./blocks/team
include ./blocks/downloads
include ./blocks/bottom-block
include ./blocks/cuisine-intro
include ./blocks/select-guests
include ./blocks/select-bath
include ./blocks/calendar
include ./blocks/select-date
include ./blocks/booking-final
include ./blocks/greencow

//- Mixins

include ./mixins/btn
include ./mixins/link
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/opening-hours
include ./mixins/scroll-btn
include ./mixins/video
include ./mixins/slider-nav
include ./mixins/download-btn
include ./mixins/map
include ./mixins/specifications
include ./mixins/advantages-card
include ./mixins/btn-play-with-text
include ./mixins/btn-read-more
include ./mixins/form
include ./mixins/menu-tab
include ./mixins/input-counter
include ./mixins/bath-option
include ./mixins/time-slot
include ./mixins/booking-widget
include ./mixins/tab-control
include ./mixins/booking-info
include ./mixins/certificate-option
include ./mixins/tags
include ./mixins/schedule
include ./mixins/event-info
